@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,slnt,wdth,wght,GRAD,ROND@6..144,-10..0,25..151,1..1000,0..100,0..100&display=swap');

* {
	font-family: 'Google Sans Flex', sans-serif;
	font-optical-sizing: none;
	font-feature-settings: "ss01", "tnum", "zero";
	font-kerning: none;
	font-size: 1rem;

	line-height: 1;
	letter-spacing: 0;

	color: #fff;

	box-sizing: border-box;

	overflow: visible;
}

body {
	background: radial-gradient(circle at center, #314158, #0f172b);
	width: 100%;

	margin: 20px 0px;
	padding: 0;

	display: flex;
	justify-content: center;

}

#container {
	width: min(75%, 640px);

	display: flex;
	flex-direction: column;

	gap: 20px;

}


/* Title Styles */
#title {
	font-size: 3rem;
	font-variation-settings: "wght" 1000;

	text-align: center;
}

#subtitle {
	text-align: center;
}

#footer {
	text-align: center;
	font-size: 1rem;
}

/*  */

/* Section Styles */
.section {
	display: flex;
	flex-direction: column;
}

.section--padded {
	padding: 20px;
}

.section__title {
	font-size: 2rem;
	font-variation-settings: "wght" 1000;
}

.section__description {
	text-align: justify;
}

.section--red {
	background: radial-gradient(circle at center, #fb2c36aa, #82181aaa);
}

.section--yellow {
	background: radial-gradient(circle at center, #f0b100aa, #733e0aaa);
}

.section--green {
	background: radial-gradient(circle at center, #00c950aa, #0d542baa);
}

.gap {
	width: 100%;
	height: 20px;
}

/*  */

/* Form Styles */
.form__group {
	display: flex;
	flex-direction: column;
}

.form__group input,
.form__group button {
	color: black;
}

.form__group button {
	border: none;
	text-align: center;
}

#youtube button {
	background: #f0b100;
}

#youtube button:hover {
	background: #ffdf20;
}
/*  */
