* {
	font-family: 'Inter var', sans-serif;
	font-feature-settings: "case", "tnum", "cv01", "cv02", "cv03", "cv04", "cv05", "cv06", "cv08", "cv11", "calt";
	font-optical-sizing: none;
	font-kerning: none;
	font-size: 1.25rem;

	line-height: 1;
	letter-spacing: 0;

	color: #fff;

	box-sizing: border-box;

	overflow: visible;

	margin: 0;
	padding: 0;
}

body {
	width: 360px;
	height: 120px;

	perspective: 1000px;
	transform-style: preserve-3d;

	overflow: hidden;
}

#container {
	position: relative;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	transform-style: preserve-3d;
}


.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

/* Card Styles */
.card {
	position: absolute;

	background: radial-gradient(circle at center, #314158, #0f172b);

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.card--front {
	transform: rotateX(0deg);
}

.card--back {
	transform: rotateX(180deg);
}

.card__element--big {
	font-size: 32px;
	font-weight: bolder;
}

.card__element--small {
	font-size: 16px;
	font-weight: normal;
}

/* ----- */

/* Flex Styles */
.flex {
	display: flex;
	align-items: baseline;
}

.flex--row {
	flex-direction: row;
}

.flex--column {
	flex-direction: column;
}

.flex--space {
	justify-content: space-evenly;
}

.flex--center {
	justify-content: center;
	align-items: center;
}

/* ----- */

/* Unique Elements */
#calendar--day {
	text-transform: uppercase;
}