* {
	font-family: 'Google Sans Flex', sans-serif;
	font-feature-settings: "ss01", "tnum", "zero";
	font-optical-sizing: none;
	font-kerning: none;
	font-size: 1.25rem;

	font-stretch: condensed;
	font-width: condensed;

	line-height: 1;
	letter-spacing: 0;

	color: #fff;

	box-sizing: border-box;

	overflow: visible;

	margin: 0;
	padding: 0;
}

body {
	background: radial-gradient(circle at center, #314158, #0f172b);
	background-attachment: fixed;
	width: 100%;

	margin: 20px 0px;
	padding: 0;

	display: flex;
	justify-content: center;

}

button {
	border: none;
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}

/* Container Styles */
#container {
	width: 75%;

	display: flex;
	flex-direction: column;

	gap: 20px;

}

/* ----- */

/* Title Styles */
#title {
	font-size: 3.75rem;
	font-weight: 1000;

	text-align: center;
}

#subtitle {
	text-align: center;
}

#footer {
	text-align: center;
	font-size: 1rem;
}

/* ----- */

/* Section Styles */
.section {
	display: flex;
	flex-direction: column;
}

.section--padded {
	padding: 20px;
}

.section__title {
	font-size: 2.5rem;
	font-weight: 1000;
}

.section__description {
	text-align: justify;
}

.section--red {
	background: radial-gradient(circle at center, #fb2c36aa, #82181aaa);
}

.section--yellow {
	background: radial-gradient(circle at center, #f0b100aa, #733e0aaa);
}

.section--green {
	background: radial-gradient(circle at center, #00c950aa, #0d542baa);
}

.gap {
	width: 100%;
	height: 20px;
}

/* ----- */

/* Form Styles */
.form__group {
	display: flex;
	flex-direction: column;
}

.form__group input,
.form__group button {
	color: black;
}

.form__group button {
	text-align: center;
}

#youtube button {
	background: #f0b100;
}

#youtube button:hover {
	background: #ffdf20;
}

/* ----- */

/* Dialog Styles */
dialog {
	border: none;
	padding: 20px;

	background: radial-gradient(circle at center, #314158, #0f172b);
	text-align: center;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

dialog button {
	width: 100%;
	font-size: 2rem;

	color: black;
	background: #cad5e2;
}

dialog button:hover {
	background: #f1f5f9;
}

dialog[open] {
	display: flex;
	flex-direction: column;
	align-items: center;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.75);
}

dialog p {
	font-size: 2rem;
	margin: 0;
}

/* ----- */